---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/DavidAnson/markdownlint-cli2.git
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/tofuutils/pre-commit-opentofu.git
    rev: v2.2.1
    hooks:
      - id: tofu_fmt
      - id: tofu_validate

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.18.2
    hooks:
      - id: mypy
        language: python
        args:
          - --strict
        additional_dependencies:
          - boto3-stubs[iam] ==1.40.45
          - boto3-stubs[s3] ==1.40.45

  - repo: https://github.com/astral-sh/ruff-pre-commit.git
    rev: v0.13.3
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/tombi-toml/tombi-pre-commit.git
    rev: v0.6.19
    hooks:
      - id: tombi-lint
      - id: tombi-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types:
          - markdown
        additional_dependencies:
          - prettier@3.6.2
